* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.name {
    position: fixed;
    width: 100%;
    background: black;
    font-size: 60px;
    color: white;
}

.header {
    background: #8b0000;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;
    margin-top: 70px;
}

.headerLink {
    font-size: 25px;
    text-decoration: none;
    color: #e3e2df;
    padding: 10px;
    text-transform: uppercase;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
}

.container {
    max-width: 1600px;
    margin: auto;
}

.categoryTop {
    font-size: 40px;
    margin: auto;
    padding-top: 200px;
    padding-left: 200px;
}

.category {
    font-size: 40px;
    margin: auto;
    padding-left: 200px;
    padding-top: 40px;
}

.content {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1200px;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    font-style: italic;
}

.pictures {
    display: block;
    float: right;
    padding-right: 300px;
    width: 250px;
    height: 250px;

}