* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.name .container {
    position: fixed;
    width: 100%;
    background: black;
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-left: 200px;
}

.header {
    background: #8b0000;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    position: fixed;
    right: 0;
    left: 0;
    margin-top: 70px;
}

.headerLink {
    font-size: 25px;
    text-decoration: none;
    color: #e3e2df;
    padding: 10px;
    text-transform: uppercase;
}

body {
    margin: 0;
}

.categoryTop {
    font-size: 40px;
    margin: auto;
    padding-top: 200px;
    padding-left: 200px;
}

.category {
    font-size: 40px;
    margin: auto;
    padding-left: 200px;
    padding-top: 40px;
}

.content {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1200px;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 35px;
    font-weight: bold;
}

.pictures {
    display: block;
    float: right;
    padding-right: 300px;
    width: 250px;
    height: 250px;

}

.description {
    text-align: right;
    font-size: 15px;
    font-style: italic;
    padding-right: 350px;
}

table, th, td {
    padding: 5px;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

ul {
    padding-left: 200px;
}

aside {
    position: fixed;
    right: 0;
    padding-top: 150px;
    margin-right: 80px;
    max-width: 70px;

}
